:root {
  --primary-color: #00705f;
  --primary-hover-color: #005a4a;
  --light-bg: #ffffff;
  --input-bg: #D4D7E3;
  --text-color: #333333;
  --border-color: #e0e0e0;
}

.login-container {
  font-family: Arial, sans-serif;
  background-color: var(--light-bg);
}

.login-form-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 50%;
}

.logo-text {
  color: var(--primary-color);
}

.language-selector {
  cursor: pointer;
}
input{
  width: 100%;
  padding: 14px 15px;
   border: 1px solid #D4D7E3;
  border-radius: 12px;
  font-size: 1em;
  box-sizing: border-box;
  transition: border-color 0.3s;
  background-color: #F7FBFF;
}
.auth-card {
  background-color: #fff;
   max-width: 380px;
  margin: auto;
  padding: 0;
  width: 100%;
}

.title {
  color: var(--text-color);
font-weight: 600;
font-style: Semi Bold;
font-size: 32px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;

}

.login-image-side {
  flex: 1;
  background-image: url('/assets/otp.png');
   background-size: cover;
  background-position: center;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  margin: 40px 30px 40px;
}

.otp-btn{
    width: 100%;
  padding: 15px;
  color: var(--light-bg);
  border: none;
  border-radius: 12px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, opacity 0.3s;
  background-color: #047857;
  color: #ffffff;
}
/* استجابة الوسائط */
@media (max-width: 900px) {
  .login-container {
    flex-direction: column;
  }
  .login-image-side {
    display: none;
  }
  .login-form-side {
    max-width: 100%;
    padding: 20px;
  }
}
