<div class="container-fluid" id="dashboardToExport" [class.rtl]="isRtl">

<div class="d-flex flex-wrap justify-content-between align-items-center mb-4">
  <div>
    <h2 class="h4 fw-semibold">{{ t('goodMorning') }}, {{ userName }} 👋</h2>
    <p class="small mb-0">{{ t('overviewToday') }}</p>
  </div>

  <div class="d-flex align-items-center me-2">
  <select class="form-select ps-5 me-2" (change)="onModeChange($event)">
    <option value="day">{{ t('today') }}</option>
    <!-- <option value="yesterday">{{ t('yesterday') }}</option> -->
    <option value="month">{{ t('month') }}</option>
    <option value="year">{{ t('year') }}</option>
    <option value="custom">{{ t('custom') }}</option>
  </select>

  <!-- Day / Yesterday -->
  <input *ngIf="selectedMode==='day'" type="date" class="form-control me-2"
         [value]="selectedDate"
         (change)="onDayChange($event)" />

  <!-- Month -->
  <input *ngIf="selectedMode==='month'" type="month" class="form-control me-2"
         [value]="selectedMonth"
         (change)="onMonthChange($event)" />

  <!-- Year -->
  <input *ngIf="selectedMode==='year'" type="number" class="form-control me-2"
         [value]="selectedYear"
         min="2000" max="2100"
         (change)="onYearChange($event)" />

  <!-- Custom range -->
  <div *ngIf="selectedMode==='custom'" class="d-flex">
    <input type="date" class="form-control me-2" [value]="customFrom" (change)="onCustomFromChange($event)" />
    <input type="date" class="form-control" [value]="customTo" (change)="onCustomToChange($event)" />
  </div>
  <button class="btn btn-export text-white d-flex align-items-center gap-1 ms-1" (click)="exportDashboard()">
        <i class="fas fa-arrow-up-from-bracket me-2"></i>
        {{ t('export') }}
      </button>
</div>

</div>

<!-- KPI Cards -->
<div class="row mb-4 w-100">

  <!-- Total Users -->
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card shadow-sm border-0 h-100">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start mb-3">
          <div>
            <h6 class="card-title mb-3">{{ t('totalUsers') }}</h6>
            <h3 class="fm-0">{{ subscribersKpi?.total || 0 }}</h3>
          </div>
          <div class="icon-box bg-light-purple">
            <i class="fas fa-users text-purple"></i>
          </div>
        </div>
        <div class="stat-footer small" style="margin-top: -5px;"
             [ngClass]="{'text-success': subscribersKpi?.trend==='UP', 'text-danger': subscribersKpi?.trend==='DOWN'}">
          <i class="fas" [ngClass]="{'fa-arrow-up': subscribersKpi?.trend==='UP', 'fa-arrow-down': subscribersKpi?.trend==='DOWN'}"></i>
          <span>{{ subscribersKpi?.changePercentage || 0 }}%</span>
        </div>
      </div>
    </div>
  </div>
<!-- Files Created -->
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card shadow-sm border-0 h-100">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-start mb-3">
        <div>
          <h6 class="card-title mb-3">{{ t('filesCreated') }}</h6>
          <h3 class="m-0">{{ filesKpi?.totalFiles || 0 }}</h3>
        </div>
        <div class="icon-box bg-light-green">
          <i class="fas fa-file-lines text-green"></i>
        </div>
      </div>
      <div class="stat-footer small"
           [ngClass]="{'text-success': filesKpi?.filesTrend==='UP', 'text-danger': filesKpi?.filesTrend==='DOWN'}">
        <i class="fas" [ngClass]="{'fa-arrow-up': filesKpi?.filesTrend==='UP', 'fa-arrow-down': filesKpi?.filesTrend==='DOWN'}"></i>
        <span>{{ filesKpi?.filesChangePercentage || 0 }}%</span>
      </div>
    </div>
  </div>
</div>

<!-- Total File Size -->
<div class="col-lg-4 col-md-6 mb-4">
  <div class="card shadow-sm border-0 h-100">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-start mb-3">
        <div>
          <h6 class="card-title mb-3">{{ t('totalFileSize') }}</h6>
          <h3 class="m-0">{{ filesKpi?.totalSizeGB || 0 }} GB</h3>
        </div>
        <div class="icon-box bg-light-yellow">
          <i class="fas fa-box-archive text-yellow"></i>
        </div>
      </div>
      <div class="stat-footer small"
           [ngClass]="{'text-success': filesKpi?.sizeTrend==='UP', 'text-danger': filesKpi?.sizeTrend==='DOWN'}">
        <i class="fas" [ngClass]="{'fa-arrow-up': filesKpi?.sizeTrend==='UP', 'fa-arrow-down': filesKpi?.sizeTrend==='DOWN'}"></i>
        <span>{{ filesKpi?.sizeChangePercentage || 0 }}%</span>
      </div>
    </div>
  </div>
</div>

</div>

<div class="container-fluid" [class.rtl]="isRtl" >
  <div class="row w-100 mt-4">

    <div class="col-lg-8 mb-4">
      <div class="card shadow-sm border-0 p-4 h-100">
        <div class="d-flex justify-content-between align-items-center mb-4">
          <div>
            <p class="text-muted mb-1">{{ t('totalIncome') }}</p>
            <h3 class="fw-bold">$0</h3>
          </div>
          <div class="d-flex gap-2">
  <!-- Dropdown للسنة -->
  <div class="btn-group">
    <button type="button" class="btn btn-success rounded btn-sm dropdown-toggle" data-bs-toggle="dropdown">
      {{ selectedYear }}
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let year of years">
        <a class="dropdown-item"  (click)="onYearSelect(year)">{{ year }}</a>
      </li>
    </ul>
  </div>

  <!-- زر yearly -->
  <button class="btn btn-light btn-sm" (click)="loadProfits('ALL_YEARS')">
    {{ t('yearly') }}
  </button>
</div>

        </div>

        <div style="height: 300px;">
  <canvas baseChart
          [data]="barChartData"
          [options]="barChartOptions"
          [type]="barChartType">
  </canvas>
</div>
      </div>
    </div>

      <div class="col-lg-4 mb-4">
    <div class="card shadow-sm border-0 p-4 h-100">
      <h5 class="card-title fw-semibold mb-4" style="font-size: 1rem;">{{ t('supportTickets') }}</h5>

      <div class="d-flex justify-content-center align-items-center mb-4 mt-4" style="height: 220px; position: relative;">
   <canvas baseChart
     [data]="doughnutChartData"
     [options]="doughnutChartOptions"
     [type]="doughnutChartType">
   </canvas>
</div>

      <div class="d-flex justify-content-around  mt-4">
        <div class="d-flex align-items-center">
          <span class="legend-dot" style="background-color: #007d58;"></span>
          <span class="fw-medium small ">
            {{ t('open') }} ({{ complaintsKpi?.open || 0 }})
          </span>
        </div>
        <div class="d-flex align-items-center">
          <span class="legend-dot" style="background-color: #10b981;"></span>
          <span class="fw-medium small ">
            {{ t('closed') }} ({{ complaintsKpi?.closed || 0 }})
          </span>
        </div>
        <div class="d-flex align-items-center">
          <span class="legend-dot" style="background-color: #34d399;"></span>
          <span class="fw-medium small ">
            {{ t('pending') }} ({{ complaintsKpi?.pending || 0 }})
          </span>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>

<div class="row w-100 mt-4">
  <div class="col-12">
    <div class="card shadow-sm border-0 px-4">
      <div class="d-flex align-items-center flex-wrap py-4">

        <div class="d-flex align-items-center gap-4 flex-nowrap mx-1">
          <h5 class="mb-0 table-title">{{ t('subscribersTable') }}</h5>
          <!-- <div class="d-flex gap-3 text-muted small">
            <span role="button" class="d-flex align-items-center gap-1 hover-primary">
              <i class="fas fa-pen"></i> {{ t('edit') }}
            </span>
            <span role="button" class="d-flex align-items-center gap-1 hover-danger">
              <i class="fas fa-trash"></i> {{ t('delete') }}
            </span>
          </div> -->
        </div>

        <!-- <div class="d-flex align-items-center gap-2 flex-nowrap">
          <div class="search-container">
            <input type="text" [placeholder]="t('search')">
            <i class="fas fa-search search-icon"></i>
          </div>

          <button class="btn btn-outline-secondary btn-sm d-flex align-items-center gap-2">
            <i class="fas fa-filter"></i> {{ t('filter') }}
          </button>

          <button class="btn btn-outline-secondary btn-sm d-flex align-items-center gap-2">
            <i class="fas fa-cloud-arrow-down"></i> {{ t('export') }}
          </button>

          <button class="btn btn-success btn-sm d-flex align-items-center gap-2">
            <i class="fas fa-plus"></i> {{ t('addNewUser') }}
          </button>
        </div> -->
      </div>

      <div class="table-responsive">
        <table class="table table-hover align-middle">
          <thead class="bg-light">
            <tr class="text-muted small text-uppercase">
              <!-- <th scope="col" style="width: 50px;">
                <i class="far fa-square-minus text-success fs-5" role="button"></i>
              </th> -->
              <th scope="col">{{ t('name') }}</th>
              <th scope="col">{{ t('email') }}</th>
              <th scope="col">{{ t('mobile') }}</th>
              <th scope="col">{{ t('country') }}</th>
              <th scope="col">{{ t('city') }}</th>
              <th scope="col">{{ t('region') }}</th>
              <th scope="col">{{ t('LegalEntity') }}</th>
              <th scope="col">{{ t('LicenseNo') }}</th>
              <th scope="col">{{ t('LicenseDate') }}</th>
              <!-- <th scope="col">{{ t('Status') }}</th> -->
              <!-- <th scope="col">{{ t('SubscriptionEnd') }}</th> -->
            </tr>
          </thead>
          <tbody>
             <tr *ngFor="let user of subscribers; let i = index" class="border-bottom">
    <!-- <td>
      <input
        type="checkbox"
        class="custom-checkbox"
        id="chk{{i}}"
      />
    </td> -->
<td class="fw-bold text-dark">{{ user.licenseName }}</td>
<td class="text-muted">{{ user.subscriberEmail }}</td>
<td class="text-muted">{{ user.primaryMobile }}</td>
<td class="text-muted">{{ user.country?.name }}</td>
<td class="text-muted">{{ user.city?.name }}</td>
<td class="text-muted">{{ user.region?.name }}</td>
<td class="text-muted">{{ user.legalEntityType }}</td>
<td class="text-muted">{{ user.licenseNumber }}</td>
<td class="text-muted">{{ user.licenseDate }}</td>
<!-- <td class="text-muted">{{ user.status }}</td> -->
<!-- <td class="text-muted">
  {{ user.subscriptionEndDate ? (user.subscriptionEndDate | date:'yyyy-MM-dd') : '—' }}
</td> -->
  </tr>
          </tbody>
        </table>

        <div class="text-center" style="margin-bottom: 15px;">
          <a routerLink="/dashboard/subscribers" class="fs-5 text-decoration-none text-success">{{ t('viewAll') }}</a>
        </div>
      </div>

    </div>
  </div>
</div>
