.content{
  background-color: #F7F7F7;
  margin-left: 230px;   /* عرض السايدبار */
  transition: all 0.3s;
}

.content.rtl{
  margin-left: 0;
  margin-right: 230px;  /* تحريك المحتوى لليمين عند اللغة العربية */
}
