<div class="guide-container">

  <!-- Toolbar -->
  <div class="toolbar">
    <h2 class="page-title">{{ t('accountsGuideTitle') }}</h2>

    <div class="actions-group">
      <div class="edit-actions">
        <button class="btn-text"><i class="fa-regular fa-pen-to-square"></i> {{ t('edit') }}</button>
        <button class="btn-text"><i class="fa-regular fa-trash-can"></i> {{ t('delete') }}</button>
      </div>

      <div class="search-wrapper">
        <i class="fa-solid fa-magnifying-glass search-icon"></i>
        <input type="text" [placeholder]="t('search')" class="search-input">
      </div>

      <div class="file-actions">
        <button class="btn-outline"><i class="fa-solid fa-file-import"></i> {{ t('import') }}</button>
        <button class="btn-outline"><i class="fa-solid fa-file-export"></i> {{ t('export') }}</button>
        <button class="btn-primary"><i class="fa-solid fa-plus"></i> {{ t('addNewGuide') }}</button>
      </div>
    </div>
  </div>

  <!-- Table -->
  <div class="table-container">
    <table class="accounts-table">
      <thead>
        <tr>
          <th class="checkbox-col">
            <div class="custom-checkbox indeterminate" (click)="toggleAll()">
              <i class="fa-solid fa-minus"></i>
            </div>
          </th>
          <th>{{ t('accountName') }} <i class="fa-solid fa-angle-down sort-arrow"></i></th>
          <th>{{ t('level') }} <i class="fa-solid fa-angle-down sort-arrow"></i></th>
          <th>{{ t('accountNumber') }} <i class="fa-solid fa-angle-down sort-arrow"></i></th>
          <th>{{ t('rules') }} <i class="fa-solid fa-angle-down sort-arrow"></i></th>
          <th>{{ t('notes') }} <i class="fa-solid fa-angle-down sort-arrow"></i></th>
          <th>{{ t('code') }} <i class="fa-solid fa-angle-down sort-arrow"></i></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let account of displayedAccounts" [class.selected-row]="account.selected">
          <td class="checkbox-col">
            <div class="custom-checkbox" [class.checked]="account.selected" (click)="toggleSelection(account)">
              <i *ngIf="account.selected" class="fa-solid fa-check"></i>
            </div>
          </td>
          <td class="fw-bold">{{ account.name }}</td>
          <td>{{ account.level }}</td>
          <td>{{ account.number }}</td>
          <td>{{ account.rules }}</td>
          <td>{{ account.notes }}</td>
          <td>{{ account.code }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Pagination -->
  <div class="pagination-footer">

    <div class="pagination-controls">
      <button class="page-btn prev" (click)="prevPage()" [disabled]="currentPage === 1">
        <i class="fa-solid fa-chevron-left"></i> {{ t('back') }}
      </button>

      <ng-container *ngFor="let p of pagesArray">
        <span *ngIf="p === '...'" class="dots">...</span>

        <button *ngIf="p !== '...'"
                class="page-btn"
                [class.active]="p === currentPage"
                (click)="goToPage(p)">
          {{ p }}
        </button>
      </ng-container>

      <button class="page-btn next" (click)="nextPage()" [disabled]="currentPage === totalPages">
        {{ t('next') }} <i class="fa-solid fa-chevron-right"></i>
      </button>
    </div>

    <div class="pagination-info">
      <span>{{ t('page') }}</span>
      <input type="number" [value]="currentPage" (change)="goToPageInput($event)" class="page-input">
      <span class="go-btn" (click)="updateDisplayedData()">{{ t('go') }}</span>
    </div>

    <div class="items-count">
      {{ showingRangeText }}
    </div>

  </div>

</div>
